In [113]:
import pandas as pd
from collections import Counter

import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

In [114]:
# Import health dataset
health_data = pd.read_csv('../raw_data/Health_Data.csv')
health_data.head()

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,12412311,13299016,14485543,15816601,17075728,18110662,...,31161378,32269592,33370804,34413603,35383028,36296111,37171922,38041757,38928341,39835428
1,"Population, total",SP.POP.TOTL,Albania,ALB,3286542,3266790,3247039,3227287,3207536,3187784,...,2900401,2895092,2889104,2880703,2876101,2873457,2866376,2854191,2837849,2811666
2,"Population, total",SP.POP.TOTL,Algeria,DZA,25758872,26400468,27028330,27635517,28213777,28757788,...,37383899,38140135,38923688,39728020,40551398,41389174,42228415,43053054,43851043,44616626
3,"Population, total",SP.POP.TOTL,American Samoa,ASM,47351,48682,49900,51025,52099,53158,...,55669,55717,55791,55806,55739,55617,55461,55312,55197,55103
4,"Population, total",SP.POP.TOTL,Andorra,AND,54508,56666,58882,60974,62676,63860,...,82427,80770,79213,77993,77295,76997,77008,77146,77265,77354

In [151]:
# List of columns to use
cols = ['Entity',
'Code',
'Year',
'Age Group',
'Acute hepatitis',
'Cardiovascular diseases',
'Chronic kidney disease',
'Cirrhosis and other chronic liver diseases',
'Diabetes mellitus',
'Diarrheal diseases',
'Digestive diseases',
'Drowning',
'Environmental heat and cold exposure',
'Exposure to forces of nature',
'Fire, heat, and hot substances',
'HIV/AIDS',
'Interpersonal violence',
'Lower respiratory infections',
'Malaria',
'Neoplasms',
'Nutritional deficiencies',
'Parkinsons disease',
'Road injuries',
'Self',
'Tuberculosis']

In [152]:
# Import input dataset, add Age Group column, and clean header names
df_under5 = pd.read_csv('raw_data/causes-of-death-in-children-under-5.csv')
df_under5['Age Group'] = 'Under 5'
df_under5.columns = [col if len(col.split('-')) <= 1 else col.split('-')[1].strip() for col in df_under5.columns.values]
df_under5['Age Group'] = pd.Series(df_under5['Age Group'], dtype='string')
df_under5['Entity'] = pd.Series(df_under5['Entity'], dtype='string') 
df_under5['Code'] = pd.Series(df_under5['Code'], dtype='string')
column_to_move = df_under5.pop('Age Group')
df_under5.insert(3, 'Age Group', column_to_move)
df_under5 = df_under5[df_under5.columns.intersection(cols)]
df_under5['Parkinsons disease'] = df_under5.get('Parkinsons disease', 0) 
df_under5['Self'] = df_under5.get('Self', 0) 
df_under5.shape

(6840, 25)

In [154]:
# Import input dataset, add Age Group column, and clean header names
df_5to14 = pd.read_csv('raw_data/causes-of-death-in-5-14-year-olds.csv')
df_5to14['Age Group'] = '5-14'
df_5to14.columns = [col if len(col.split('-')) <= 1 else col.split('-')[1].strip() for col in df_5to14.columns.values]
df_5to14['Age Group'] = pd.Series(df_5to14['Age Group'], dtype='string')
df_5to14['Entity'] = pd.Series(df_5to14['Entity'], dtype='string') 
df_5to14['Code'] = pd.Series(df_5to14['Code'], dtype='string')  
column_to_move = df_5to14.pop('Age Group')
df_5to14.insert(3, 'Age Group', column_to_move)
df_5to14 = df_5to14[df_5to14.columns.intersection(cols)]
df_5to14['Parkinsons disease'] = df_5to14.get('Parkinsons disease', 0) 
df_5to14['Self'] = df_5to14.get('Self', 0) 
df_5to14.shape

(6840, 25)

In [155]:
# Import input dataset, add Age Group column, and clean header names
df_15to49 = pd.read_csv('raw_data/causes-of-death-in-15-49-year-olds.csv')
df_15to49['Age Group'] = '15-49'
df_15to49.columns = [col if len(col.split('-')) <= 1 else col.split('-')[1].strip() for col in df_15to49.columns.values]
df_15to49['Age Group'] = pd.Series(df_15to49['Age Group'], dtype='string')
df_15to49['Entity'] = pd.Series(df_15to49['Entity'], dtype='string') 
df_15to49['Code'] = pd.Series(df_15to49['Code'], dtype='string') 
column_to_move = df_15to49.pop('Age Group')
df_15to49.insert(3, 'Age Group', column_to_move)
df_15to49 = df_15to49[df_15to49.columns.intersection(cols)]
df_15to49['Parkinsons disease'] = df_15to49.get('Parkinsons disease', 0) 
df_15to49['Self'] = df_15to49.get('Self', 0) 
df_15to49.shape

(6840, 25)

In [156]:
# Import input dataset, add Age Group column, and clean header names
df_50to69 = pd.read_csv('raw_data/causes-of-death-in-50-69-year-olds.csv')
df_50to69['Age Group'] = '50-69'
df_50to69.columns = [col if len(col.split('-')) <= 1 else col.split('-')[1].strip() for col in df_50to69.columns.values]
df_50to69['Age Group'] = pd.Series(df_50to69['Age Group'], dtype='string')
df_50to69['Entity'] = pd.Series(df_50to69['Entity'], dtype='string') 
df_50to69['Code'] = pd.Series(df_50to69['Code'], dtype='string') 
column_to_move = df_50to69.pop('Age Group')
df_50to69.insert(3, 'Age Group', column_to_move)
df_50to69 = df_50to69[df_50to69.columns.intersection(cols)]
df_50to69['Parkinsons disease'] = df_50to69.get('Parkinsons disease', 0) 
df_50to69['Self'] = df_50to69.get('Self', 0) 
df_50to69.shape

(6840, 25)

In [157]:
# Import input dataset, add Age Group column, and clean header names
df_70 = pd.read_csv('raw_data/causes-of-death-in-70-year-olds.csv')
df_70['Age Group'] = '70'
df_70.columns = [col if len(col.split('-')) <= 1 else col.split('-')[1].strip() for col in df_70.columns.values]
df_70['Age Group'] = pd.Series(df_70['Age Group'], dtype='string')
df_70['Entity'] = pd.Series(df_70['Entity'], dtype='string') 
df_70['Code'] = pd.Series(df_70['Code'], dtype='string') 
column_to_move = df_70.pop('Age Group')
df_70.insert(3, 'Age Group', column_to_move)
df_70 = df_70[df_70.columns.intersection(cols)]
df_70['Parkinsons disease'] = df_70.get('Parkinsons disease', 0) 
df_70['Self'] = df_70.get('Self', 0) 
df_70.shape

(6840, 25)

In [111]:
# Upload dataframes to database to be joined

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Capstone_DB"
engine = create_engine(db_string)

df_under5.to_sql(name='cod_under5', con=engine, if_exists='replace')
df_5to14.to_sql(name='cod_5to14', con=engine, if_exists='replace')
df_15to49.to_sql(name='cod_15to49', con=engine, if_exists='replace')
df_50to69.to_sql(name='cod_50to69', con=engine, if_exists='replace')
df_70.to_sql(name='cod_70', con=engine, if_exists='replace')

health_data.to_sql(name='health_data', con=engine, if_exists='replace')